.transparent-table tbody,
.transparent-table tr,
.transparent-table td,
.transparent-table th {
  background-color: transparent !important;
  color: #ffffff;
  font-weight: lighter;
}

@media (max-width: 730px) {
  .transparent-table tbody,
  .transparent-table tr,
  .transparent-table td,
  .transparent-table th {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .transparent-table tbody,
  .transparent-table tr,
  .transparent-table td,
  .transparent-table th {
    font-size: 12px;
  }
}
